body{
font-family: Comfortaa;}
.rect{
position:fixed;
top:200px;
right:-5px;

border: 1px dashed #84befe;
text-align:center;
width:4ch;

padding-top:15px;
padding-bottom:15px;
padding-left:5px;
padding-right:5px;

line-height:1.3em;

border-radius:10px;
}

.rect a:link{
text-decoration:none;
color:#84befe;}

.whole{
background: linear-gradient(to top, #84befe, white);

margin:auto;

width:980px;}

.header{
width:900px;
height:360px;

position:relative;
}

.box{
background-color:white;

float:left;

width:200px;
height:170px;

position:relative;
top:80px;
left:40px;

box-shadow: 5px 5px 10px gray;
}

.preview{
float:left;

background-color:#84befe;
width:656px;
height:280px;

margin-top:40px;
margin-right:-100px;

padding-top:80px;
padding-left:90px;

font-size:90px;
color:white;

text-shadow:5px 5px 10px gray;
}

.container{
clear:left;
width:900px;
margin-top:5px;

position:relative;
top:10px;
left:40px;
}

.nav{
width:900px;
color:white;
position:relative;
}

.nav a{
float:left;

width:168px;

padding-left:5px;
padding-right:5px;
padding-top:10px;
padding-bottom:10px;

border: 1px solid white;

text-decoration:none;
text-align:center;

background-color:#84befe;
color:white;

border-radius:0px 15px 0px 0px;
}

a:hover{
background-color:white;

color:#84befe;
}

.mid{
clear:left;

background-color:white;

width:900px;
height:500px;

position:relative;
}

.last{
clear:left;
float:left;
width:900px;

background-color:white;

margin-top:10px;
position:relative;
}

.left{
float:left;

margin-top:10px;
margin-bottom:10px;
margin-left:5px;
margin-right:5px;

border:2px dashed #84befe;

width:435px;
height:300px;

position:relative;
}

.right{
float:left;

margin-top:10px;
margin-bottom:10px;
margin-left:5px;
margin-right:5px;

border:2px dashed #84befe;

width:435px;
height:300px;

position:relative;
}

.left-head{
background: linear-gradient(to top, #84befe, lightblue);

/*originally, width:400px, height:100px*/
width:405px;
height:50px;

position:relative;
top:10px;
left:10px;

font-size:30px;
color:white;

border-radius: 0px 0px 20px 20px;

/*Originally padding-left:10px and padding-top: 20px*/
padding-left:10px;
padding-top:10px;
}

.right-head{
background: linear-gradient(to top, #84befe, lightblue);

/*originally, width:400px, height:100px*/
width:405px;
height:50px;

position:relative;
top:10px;
left:10px;

font-size:30px;
color:white;

border-radius: 0px 0px 20px 20px;

/*Originally padding-left:10px and padding-top: 20px*/
padding-left:10px;
padding-top:10px;
}


.footer{
width:500px;
height:200px;
clear:left;

color:white;

margin-top:360px;
margin-left:780px;

position:relative;
}